/*个人页背景*/
.home-color-bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, #003973, #e5e5be);
}
/*个人页box*/
.home-box {
  z-index: 10;
  position: absolute;
  width: 440px;
  height: 240px;
  background: rgba(97, 97, 97, 0.3);
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -120px;
  padding: 20px;
  border-radius: 12px;
  color: #eee;
  font-family: Georgia, serif;
}
.home-box h2, .home-box h3{
  color: #eee;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.home-box h2 img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: middle;
  margin-left: 5px;
}
.home-box h3 {
  font-size: 16px;
  margin-bottom: 30px;
}
.home-box p{
  padding: 10px;
  line-height: 24px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 18px;
  transition: background 0.3s;
  background: rgba(154, 154, 154, 0.5);
  color: #9c9c9c;
}
.home-box p:hover{
  transition: background .3s;
}
.home-box p a {
  color: #eee;
}
.home-box p:hover a {
  color: #000;
}
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.home-box .icon {
  font-size: 20px;
  margin: 4px;
}
.home-box .icon a{
  color: #ccc;
}

/*检索*/
.home-search{
  position: absolute;
  right: 20px;
  top: 30px;
}
.local-search-plugin .local-search-input-cls {
  opacity: .6;
  width: 160px;
  transition: all .3s;
}
.local-search-plugin .local-search-input-cls:hover {
  opacity: 1;
  width: 200px;
  transition: all .3s;
}
.local-search-plugin .icon{
  position: relative;
  left: -30px;
  color: #999;
  cursor: pointer;
}

/*hosted*/
.home-page-hosted{
  position: absolute;
  font-size: 12px;
  bottom: 2px;
  color: #ccc;
  left: 2px;
  opacity: .4;
}
.home-page-hosted a{
  font-weight: 700;
}
/*浮动图片*/

#flyzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}